<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
    </listeners>
    <test name="File-Connector-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.connector.integrationTest.FileConnector"/>
        </packages>
    </test>
    <test name="File-Connector-Unit-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileAppendUnitTest"/>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileMoveUnitTest"/>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileCreateUnitTest"/>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileArchivesUnitTest"/>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileListZipUnitTest"/>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileCopyUnitTest"/>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileExistUnitTest"/>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileDeleteUnitTest"/>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileUnzipUnitTest"/>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileSearchUnitTest"/>
            <class name="org.wso2.carbon.connector.integrationTest.FileConnector.FileSendUnitTest"/>
        </classes>
    </test>
</suite>


